
ul.blog-news-row{margin: 0;}
.blog-news-head{padding: 0 0 48px;}
.blog-news-srch input:not([type="submit"]){ padding: 15px 50px 15px 20px; border-radius: 60px; border: 1.25px solid var(--Fuschia); background: var(--Elevated); color: var(--Foreground); font-family: var(--heading-font); }
.blog-news-srch input[type="submit"]{width: 25px; height: 25px; padding: 0; right: 16px; top: 50%; transform: translateY(-50%); background: url('../../images/search.svg') no-repeat center; background-size: contain; position: absolute; font-size: 0; line-height: 0; z-index: 0;}
.blog-news-srch input[type="submit"]:hover{background-image: url('../../images/search-hover.svg');}

ul.blog-categories{gap: 12px; margin-bottom: 48px;}
ul.blog-categories > li > a{ padding: 8px 16px; color: var(--Foreground-75); display: block; }
ul.blog-categories > li > a.open{background-color: var(--Foreground); color: var(--White); }
ul.blog-categories > li > a:hover{ background-color: var(--Fuschia); color: var(--White); }
.blog-news-bg{ background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0.75) 75%); }

.blog-news-text p{margin-bottom: 22px;}
.blog-news-image{width: 100%; height: 100%;}

ul.categories {gap: 12px; margin-bottom: auto;}

.blog-news-desc{margin-top: auto;}

span.date{letter-spacing: 1.4px; flex: 1;}

.blog_load_more{gap: 16px; margin-top: 47px;}
.blog_load_more hr{flex: 1; opacity: 0.2;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .blog-news-main{padding: 80px 0;}
    .blog-news-row{gap: 40px;}
    .blog-news-list{flex: 0 0 calc(33.333333333333% - 27px);}
}
@media only screen and (min-width: 760px){
    .blog-news-title{flex: 1;}
    .blog-news-text{padding: 32px;}
    .blog-news-text h2{margin-bottom: 10px;}
}
@media only screen and (max-width: 1199px) and (min-width: 1024px){
   .blog-news-desc h2{font-size: 24px;}
    
}
@media screen and (max-width: 1023px) and (min-width: 760px){
    .blog-news-main{padding: 48px 0;}
    .blog-news-row{gap: 28px; justify-content: center;}
    .blog-news-list{flex: 0 0 calc(50% - 14px);}
}
@media screen and (max-width: 759px) and (min-width: 0px){
    .blog-news-main{padding: 27px 0 28px;}
    .blog-news-row{display: block;}
    .blog-news-head{display: block; padding-bottom: 28px;}
    .blog-news-title{padding-bottom: 20px;}
    .blog-news-title h2{font-size: 24px; line-height: 30px;}
    .blog-news-srch input:not([type="submit"]){padding: 12px 16px; font-size: 14px; line-height: 19px;}
    ul.blog-categories{width: calc(100% + 28px); flex-wrap: nowrap; overflow: auto; -ms-overflow-style: none; scrollbar-width: none; margin-bottom: 28px; }
    ul.blog-categories::-webkit-scrollbar { display: none; }
    ul.blog-categories > li > a{font-size: 14px; line-height: 21px; white-space: nowrap;}
    .blog-news-list:not(:last-child){margin-bottom: 40px;}
    .blog-news-thumb img{min-height: 450px;}
    .blog-news-text{padding: 20px;}
    .blog-news-text h2{margin-bottom: 8px;}
    .blog-news-desc{font-size: 14px; line-height: 21px;}
    .blog_load_more{margin-top: 28px;}
}





