.client-say-main{gap: 56px;padding: 80px 0;}
.client-say-lt{flex: 0 0 400px;}
.client-say-lt .h3{margin-bottom: 33px;}
.client-say-lt span.optional-text{margin-bottom: 32px;}
.client-say-rt{flex: 1; gap: 40px;}
.client-list{flex: 0 0 calc(50% - 20px);}
.client-say-bg{height: 75%; top: auto; bottom: 0; background-image: linear-gradient(180deg, transparent, var(--Foreground));}
.client-say-text{position: absolute; bottom: 0;  color: var(--White); left: 0; z-index: 11; top: auto; padding: 24px;}
.client-say-text .h5{font-size: 28px; font-weight: 700; line-height: 125%; color: var(--White); margin-bottom: 16px;}
.client-say-text p{font-size: 14px; font-weight: 700; font-family: var(--heading-font); margin-bottom: 3px; line-height:100%}
.client-say-text span{font-size: 12px; font-weight: 400; line-height: 100%;  font-family: var(--heading-font); opacity: 0.75;}

/*-- media css starts here --*/
@media only screen and (min-width: 760px){
    .client-say-text .h5{ -webkit-line-clamp: 2; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden;}
    /* .client-list:only-child{flex: 0 0 100%;} */
}
@media only screen and (min-width: 1024px){
    .client-say-main{align-items: center;}
}
@media screen and (max-width: 1439px) and (min-width: 1024px){
    .client-say-main{gap: 32px;}
    .client-say-lt{flex: 0 0 380px;}
    .client-say-lt .h3{font-size: 32px; line-height: 40px;}
}
@media screen and (max-width: 1100px) and (min-width: 760px){
    .client-list:only-child{flex: 0 0 100%;}
}
@media screen and (max-width: 1023px) and (min-width: 760px){
    .client-say-main{display: block;}
    .client-say-lt{margin-bottom: 32px;}
}
@media screen and (max-width: 759px) and (min-width: 0px){
    .client-say-main{display: block; padding: 28px 0;}
    .client-say-lt{margin-bottom: 28px;}
    .client-say-rt{display: block; margin-bottom: 28px;}
    .client-list{margin-bottom: 20px;}
    .client-say-text .h5{font-size: 16px;}
    .client-say-text p { font-size: 12px;}

}