

.common-intro-text{color: var(--Text-Color-1);}


.common-intro-text p{margin-bottom: 21px; }
.common-intro-title{color: var(--Fuschia);}
.common-intro-subtitle{margin-bottom: 29px; line-height: 150%;}
.common-intro-head .btn-wrap{padding-top: 20px;}

/* media css starts here */
@media only screen and (min-width: 1024px){
    .common-intro-main{padding: 80px 0;}
    .common-intro-head{padding: 24px 64px 24px 0;}
    .common-intro-text{padding: 16px 0 16px 64px;}
}
@media only screen and (min-width: 760px){
    .common-intro-head{flex: 1;}
    .common-intro-text{flex: 1;}
    .common-intro-line{width: 1px; height: 100%; top: 0; left: 0;}
    .common-intro-circle-main{width: 60px; height: 100%;}
    .common-intro-circle{ width: 60px; height: 60px; margin-left: -30px; transition: top 1s ease;}
}
@media only screen and (max-width: 1023px) and (min-width: 760px){
    .common-intro-main{padding: 45px 0 43px;}
    .common-intro-head{padding: 24px 32px 24px 0;}
    .common-intro-head h2{font-size: 32px;}
    .common-intro-text{padding: 16px 0 16px 32px;}
    .common-intro-title, .common-intro-subtitle{font-size: 18px; line-height: 22.5px;}
    .common-intro-subtitle{margin-bottom: 18px;}
    .common-intro-text{font-size: 18px; line-height: 27px;}
    .common-intro-circle{width: 40px; height: 40px; top: 40px; margin-left: -20px;}
}
@media only screen and (max-width: 759px) and (min-width: 0px){
    .common-intro-main{padding: 45px 0 23px; display: block;}
    .common-intro-line{width: 100%; height: 1px; top: 0; left: 0;}
    .common-intro-head:not(:last-child){padding-bottom: 62px;}
    .common-intro-title, .common-intro-subtitle{font-size: 18px; line-height: 22.5px;}
    .common-intro-subtitle{margin-bottom: 18px;}
    .common-intro-text{padding-top: 54px; font-size: 18px; line-height: 27px;}
    .common-intro-text p{margin-bottom: 19px;}
    .common-intro-head .btn-wrap{display: flex; padding-top: 6px;}
    .common-intro-head .btn-wrap .button{width: fit-content;}
    .common-intro-head .btn-wrap .text-link{margin-top: 0;}
}










