
.connect-banner-video{z-index: 1;}
.connect-banner-video video{width: 100%; height: 100%;}
.connect-banner-gradient{ background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); }
.connect-banner-text{max-width: 600px;}
.connect-banner-btns{padding-top: 12px;}


/* media css starts here */
@media only screen and (min-width: 760px){
    .connect-banner-wrap{padding: 80px 0; min-height: 680px;}
    .connect-banner-text h1{margin-bottom: 21px; font-size: 96px; line-height: 96%; letter-spacing: -0.96px; }
}
@media only screen and (max-width: 759px) and (min-width: 0px){
    .connect-banner-section{background-color: var(--Foreground);}
    .connect-banner-mbl{position: relative; min-height: 390px;}
    .connect-banner-gradient{height: 50%; top: auto; bottom: 0;}
    .connect-banner-bg{position: static;}
    .connect-banner-bg img{min-height: 390px;}
    .connect-banner-wrap{padding: 0px 0 31px;}
    .connect-banner-text{font-size: 16px; line-height: 24px;}
    .connect-banner-text h1{margin-bottom: 16px; font-size: 56px; line-height: 96%; letter-spacing: -0.56px;}
    .connect-banner-text p{margin-bottom: 20px;}

     body.page-template-bond-institute .connect-banner-wrap { padding: 0 0 45px;}
     body.page-template-bond-institute .counter-list, body.page-template-why-bond .counter-list {padding: 30px 0 43px !important; }
     body.page-template-bond-institute  .counter-top {margin-bottom: 2px;}

      body.page-template-why-bond .connect-banner-wrap {padding:  0 0 41px;}
}

