.connected-section{position: relative; width: 100% ; clear: both; display: block;}
.connected-main{padding: 40px 0 80px;}

.connected-icon{width: 40px; height: 40px; margin-bottom: 26px;}
.connected-icon figure img{object-fit: contain;}



.connected-text:only-child { height: 100%; display: flex; flex-direction: column; justify-content: flex-end;}
.connected-text .h5{font-size: 20px; font-family: var(--heading-font);  font-weight: 700; line-height: 125%;}


@media only screen and (min-width: 1024px) {
    .connected-row{gap: 56px;}
    .connected-list{flex: 0 0 calc(33.3333333333% - 38px);}
}
@media only screen and (max-width: 1023px) and (min-width: 760px) {
.connected-main{padding: 60px 0;}
.connected-row{gap: 32px;}
.connected-list { flex: 0 0 calc(50% - 20px); }

}

@media only screen and (max-width: 759px) and (min-width: 200px) {
.connected-main{padding: 0 0 30px; display: block;}
.connected-row{display: block;}
.connected-list{margin-bottom: 28px;}
.connected-list:last-child{margin-bottom: 0;}
.connected-icon{margin-bottom: 18px;}
.connected-text .h5{margin-bottom: 10px;}
}