.counter-main-wrap{padding: 40px 0 80px;}
.counter-stats{gap: 32px 0;}
.counter-list{ padding: 24px 29px; border-left: 1px solid var(--Foreground-25);}
.counter-list.inverted{border-left-color: var(--White-25);}
.counter-list p{font-size: 16px; font-weight: 300; line-height: 150%;  }
span.counter{  display: block;   letter-spacing: -1.92px; position: relative; }
.counter-top{font-family: var(--mono-font); font-size: 64px; font-weight: 300; color: var(--Fuschia); text-transform: uppercase; margin-bottom: 6px; line-height: 1;}
.counter-list .h6{font-weight: 700;}


body.page-template-bond-institute .counter-list{padding: 18px 32px 29px;}
/* body.home .counter-main-wrap{padding: 40px 0;} */
body.page-template-default .counter-list .h6{margin-bottom: 12px;}
/* .counter-text{margin-top: auto;} */

/*-- media css starts here --*/
@media screen and (min-width: 1024px){
    .counter-stats:not(.one-of-three) .counter-list{flex: 0 0 25%; flex-grow: 1;}
    .one-of-three .counter-list{flex: 0 0 33.33333333%; flex-grow: 1;}
}
@media screen and (min-width: 760px){
    .counter-list{display: flex; flex-direction: column;}
    .counter-list .h6{margin-bottom: 15px;}
    body.page-template-analytics .counter-main-wrap{padding: 80px 0;}
    .counter-top{min-height: 64px;}
}
@media only screen and (max-width: 1023px) and (min-width: 760px) {
    .counter-list{flex: 0 0 50%;}
}
@media only screen and (max-width: 759px) and (min-width: 0px){
    .counter-main-wrap{padding: 0 0 10px;}
    .counter-stats{display: block;}
    .counter-list:first-child{padding-top: 19px;}
    .counter-list{border-left: none; border-bottom:  1px solid var(--Foreground-25); padding: 35px 0 42px;}
    .counter-list.inverted{border-bottom-color: var(--White-25); border-left-color: transparent;}
    .counter-list .h6{margin-bottom: 12px; font-size: 16px;}
    .counter-list:last-child{border-bottom: none;}
    .counter-list p{font-size: 14px;}
    body.home .counter-main-wrap { padding: 0; }

    /*-- synapze-lx page top space for below css --*/
    body.page-template-analytics .counter-main-wrap{padding-top: 28px;}
}
