


.custom-testimonial-main{padding: 80px 0;}
.custom-testimonial-quote{gap: 24px; padding-bottom: 40px;}
.custom-testimonial-quote span{flex: 1;}
.custom-testimonial-icon{width: 42px; height: 33px;}
.custom-testimonial-icon svg{width: 100%; height: 100%; object-fit: contain;}
.custom-testimonial-avatar{gap: 12px; padding-top: 20px;}
figure.custom-testimonial-thumb{width: 80px; height: 80px;}
.custom-testimonial-profile{flex: 1; gap: 12px;}
.custom-testimonial-profile p{padding-left: 12px; border-left: 1px solid var(--Fuschia);}










