


.custom-testimonial-main{padding: 80px 0;}
.custom-testimonial-quote{gap: 24px; padding-bottom: 40px;}
.custom-testimonial-quote span{flex: 1;}
.custom-testimonial-icon{width: 42px; height: 33px;}
.custom-testimonial-icon svg{width: 100%; height: 100%; object-fit: contain;}
.custom-testimonial-avatar{gap: 12px; padding-top: 20px;}
figure.custom-testimonial-thumb{width: 80px; height: 80px;}
.custom-testimonial-profile{flex: 1; gap: 12px;}
.custom-testimonial-profile p{padding-left: 12px; border-left: 1px solid var(--Fuschia);}

 /*-- media css starts here --*/
 @media screen and (min-width: 1024px){
    
    body.page-template-default .custom-testimonial-main {padding: 64px;}
    body.home .custom-testimonial-text h2 {font-size: 40px;}
    body.page-template-default .custom-testimonial-main{margin-bottom: 70px;}
    .perspective-default-main .custom-testimonial-main { padding: 64px 0; margin-bottom: 64px;}
    body.single-post .custom-testimonial-text h2{color: var(--White); font-size: 31px;}
    body.single-post .custom-testimonial-profile span{color: var(--White)}
    body.single-post .custom-testimonial-profile p {color: var(--White);}

}
@media only screen and (max-width: 1023px) and (min-width: 760px) {
body.page-template-default .custom-testimonial-main{margin-bottom: 55px; padding: 48px;}


}


@media only screen and (max-width: 759px) and (min-width: 0px) {
    .custom-testimonial-main{padding: 28px 0 28px;}
    .custom-testimonial-quote{padding-bottom: 25px; gap: 18px;}
    figure.custom-testimonial-thumb { height: 56px; width: 56px; }
    .custom-testimonial-profile p { border-left: none; padding-left: 0; font-size: 14px!important; line-height: 1;}
    .custom-testimonial-profile{gap: 0; font-size: 14px;}
    .custom-testimonial-avatar{padding-top: 5px;}

    
    body.page-template-default .custom-testimonial-section{ width: calc(100% + 56px); left: -28px; position: relative; }
    body.page-template-default .custom-testimonial-main{margin-bottom: 55px; padding: 28px 28px;}
    
    body.page-template-about .custom-testimonial-main{ padding: 30px 0; }
    body.single-post .custom-testimonial-text h2 { color: var(--White); font-size: 20px; line-height: 125%;}
    .perspective-default-main .custom-testimonial-main {padding: 40px 0;}
    .perspective-default-main .custom-testimonial-main { margin-bottom: 54px;}
}


