.default-article p span{font-size: 24px; line-height: 300px; line-height: 150%;}
.asidebar-nav .h5{font-size: 28px; font-weight: 500; line-height: 125%; margin-bottom: 15px;}
.asidebar-nav hr{margin-bottom: 0;}

ul.aside-links { margin: 0 0 40px; }
ul.aside-links > li { margin: 0; }
ul.aside-links > li > a { gap: 10px; border-bottom: 1px solid var(--Elevated); padding: 12px 0 12px; color: var(--Foreground); }
ul.aside-links > li > a:hover{color: var(--Fuschia)}
ul.aside-links > li:before{display: none;}

.aside-block{background: var(--Foreground); color: var(--White); padding: 24px;}
.aside-block h5{color: var(--White);}

.video-main{padding: 36px 0 70px;}

.people-saying{background-color: var(--Foreground); margin-bottom: 70px;}
.people-saying-main{padding: 64px 64px 70px;}
.people-saying-main .h4{color: var(--White); margin-bottom: 60px;}
.people-saying-main .h4 span{color: var(--Fuschia);}
.people-saying-main span.optional-text{margin-bottom: 40px;}
.people-saying-main .mini-wrap{display: flex; gap: 12px}
.people-saying-main .mini-wrap p{font-weight: 700; line-height: 150%; color: var(--White); font-family: var(--heading-font); margin-bottom: 0;}
.people-saying-main .mini-wrap p:not(:first-child){font-weight: 400; border-left: 1px solid var(--Fuschia); padding-left: 13px;}

@media only screen and (min-width: 1024px) {
  .default-main{padding: 80px 0 55px; gap: 80px;}
  .default-article { flex: 1; }
  .default-aside{flex: 0 0 335px;}
}
@media screen and (max-width: 1299px) and (min-width: 1024px){
  .default-main{gap: 40px;}
  .default-aside{flex: 0 0 315px;}

}
@media screen and (max-width: 1023px) and (min-width: 760px){
  .default-main{padding: 80px 0 55px; display: block;}

}
@media only screen and (max-width: 759px) and (min-width: 0px) {
  .default-main {padding: 30px 0;}
  .default-article .h2{font-size: 40px;}
  .default-article p span {font-size: 20px;}
  .default-article .h2 + p{margin-bottom: 20px;}
  .default-article p{font-size: 16px;}
  .asidebar-nav .h5{font-size: 18px; line-height: 22px;}
}