

.expanding-two-col-text{color: var(--Text-Color-1);}


.expanding-two-col-title{color: var(--Fuschia);}
.expanding-two-col-subtitle{margin-bottom: 29px;}
.expanding-two-col-btns{gap: 16px; padding-top: 20px;}

/* media css starts here */
@media only screen and (min-width: 1024px){
    .expanding-two-col-main{padding: 57px 0 80px;}
    .expanding-two-col-line{width: 1px; height: 100%; top: 0; left: 0;}
    .expanding-two-col-head{flex: 1; padding: 65px 80px 0 0;}
    .expanding-two-col-text{flex: 1; padding-left: 80px;}
    .expanding-two-col-line{top: 24px; height: calc(100% - 24px);}
    .expanding-two-col-text .accordion-main{padding: 0;}
}
@media only screen and (min-width: 760px){
    .expanding-two-col-head span.optional-text{margin-bottom: 20px;}
    .expanding-two-col-head h2{font-size: 48px; margin-bottom: 37px;}
    .expanding-two-desc p{margin-bottom: 19px;}
    .expanding-two-desc a.button{margin-top: 6px;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .expanding-two-col-head{padding-right: 40px;}
    .expanding-two-col-text{padding-left: 40px;}
}
@media only screen and (max-width: 1023px) and (min-width: 0px){
    .expanding-two-col-main{display: block;}
    .expanding-two-col-line{width: 100%; height: 1px; top: 0; left: 0;}
    .expanding-two-col-head{padding-bottom: 80px;}
    .expanding-two-col-text .accordion-main{padding: 32px 0 0;}
}
@media only screen and (max-width: 1023px) and (min-width: 760px){
    .expanding-two-col-main{padding: 37px 0 40px;}
}
@media only screen and (max-width: 759px) and (min-width: 0px){
    .expanding-two-col-main{padding: 37px 0 40px;}
}







