

.feature-post-pos{height: 100%;  align-items: flex-end; justify-content: flex-end;}
.feature-post-image ul.post-categories{margin-bottom: 16px;}
.feature-post-image ul.post-categories.white{margin-bottom: 12px;}
.feature-post-image ul.post-categories > li::before { background: rgba(255, 255, 255, 0.25);}
.feature-post-text{padding: 34px; width: 100%;}
.feature-post-text h1{color: var(--White);}
.feature-post-text h1:last-child{margin-bottom: 0;}
.feature-post-bg{min-height: 232px; top: auto; bottom: 0;  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 1));}




.no_post_feature_thumb{min-height: 120px;}
.post-feature-row{gap: 25px;}
.post-feature-thumb{flex: 0 0 104px; height: 104px; overflow: hidden;}
.post-feature-thumb > a{width: 100%; height: 100%; display: block;}
.post-feature-thumb img{width: 100%; height: 100%; object-fit: cover; object-position: center top;}
.post-feature-text{flex: 1;}

ul.post-categories{margin: 0 0 8px; gap: 8px 10px;}
ul.post-categories > li{margin: 0; position: relative;}
ul.post-categories > li > a{padding: 4px 8px 5px; border-radius: 16px; background: rgba(228, 0, 162, 0.20); color: var(--Fuschia); font-size: 12px; line-height: 15px; font-weight: 600; letter-spacing: 0; text-transform: capitalize; position: relative; display: flex;}
ul.post-categories > li > a:hover{background-color: var(--Fuschia); color: var(--White);}
ul.post-categories.white > li > a{background-color: var(--Fuschia); color: var(--White);}
ul.post-categories.white > li > a:hover{background-color: var(--White); color: var(--Fuschia);}

.feature-post-head div.fs-40 a{color: var(--White); font-weight: 500; font-family: var(--heading-font);}
.feature-post-head div.fs-40 a:hover{color: var(--Fuschia);}
.feature-post-head h1, .feature-post-head div.fs-40 {flex: 1;}
.feature-post-link{width: 64px; height: 64px;}
.feature-post-link a:hover i{transform: translateX(4px);}

.post-feature-text h2{margin: 0;}
.post-feature-text h2 a:hover{color: var(--Fuschia);}

.blog-show-button{gap: 8px;}
.blog-btn{color: var(--Raisin-Black); cursor: pointer; font-size: 1.125rem; font-weight: 700; line-height: 1.125rem; padding: 15px 24px; position: relative; background-image: linear-gradient(180deg,var(--Accent),var(--Purple)); z-index: 1; border-radius: 28px; transition: var(--b-transition);}
.blog-btn::before{background-color: var(--Eggshell); border-radius: 28px; content: ""; height: calc(100% - 4px); left: 2px; position: absolute; top: 2px; width: calc(100% - 4px); z-index: -1; transition: var(--b-transition);}
.blog-btn:hover{color: var(--White); }
.blog-btn:hover::before{background-color: transparent;}

.blog-show-button hr{opacity: 0.4; background: linear-gradient(90deg, rgba(165, 24, 144, 0.00) 0%, #A51890 50%); margin: 0; flex: 1; height: 2px;}
.blog-show-button hr:not(:first-child){transform: rotate(180deg);}
h2.page-title{margin-top: 2rem;}

body.home .feature-post-head{flex: 1;}


/*-- media css starts here --*/
@media screen and (min-width: 1024px){
.feature-post-main{gap: 48px; padding: 80px 0 60px;}
.feature-post-image{flex: 1;}
picture.feature-post-thumb img{max-height: 800px;}
.post-feature-rows{flex: 0 0 335px; gap: 40px 0; flex-direction: column;}
    
body.home .feature-post-wrap{padding: 80px 0 0;}
body.home .feature-post-main{padding: 48px 0 60px;}



}
@media screen and (max-width: 1199px) and (min-width: 1024px){

.post-feature-rows{flex: 0 0 280px;}
}

@media screen and (max-width: 1023px) and (min-width: 0px){
  .post-feature-text h2{display: -webkit-box; -webkit-line-clamp: 3; text-overflow: ellipsis; overflow: hidden; -webkit-box-orient: vertical; }
}
@media screen and (max-width: 1023px) and (min-width: 760px){
    .feature-post-wrap{padding: 48px 0 46px;}
  .feature-post-title h1{font-size: 40px;}
  .feature-post-main{gap: 40px; padding: 20px 0 0;}
  .post-feature-rows{flex: 100%; gap: 32px;}
  .post-feature-row{flex: 0 0 calc(50% - 16px)}
}
@media screen and (max-width: 759px) and (min-width: 0px){
  .feature-post-wrap{padding: 28px 0 26px;}
  .feature-post-main{padding: 9px 0 0; display: block;}
  .feature-post-text{padding: 32px;}
  .feature-post-text .h4{font-size: 1.5rem; letter-spacing: -.24px; line-height: 1.875rem;}
  .feature-post-thumb img{min-height: 449px;}
  .feature-post-head h1{font-size: 24px; line-height: 30px;}
  .post-feature-rows{display: block; padding: 28px 0 0;}
  .post-feature-row:not(:last-child){margin-bottom: 24px;}
  .feature-post-lmbl-link{padding-top: 28px;}

  
  body.home .feature-post-head{display: block;}
  body.home .feature-post-head h2{font-size: 32px; margin-bottom: 10px;}
  ul.post-categories{margin-bottom: 8px;}

  .feature-post-image.no-image .feature-post-pos {position: relative;}
  .feature-post-image.no-image  .feature-post-text { padding: 32px 0;}

}