
.featured-insights-head span.optional-text{margin-bottom: 24px;}
ul.category-date{gap: 15px; padding-bottom: 24px;}
ul.category-date li{letter-spacing: 1.4px;}
ul.category-date li > a{padding: 6px 12px; display: block; border-radius: 16px; background-color: var(--White); color: var(--Fuschia);} 
.featured-insights-overlay{ background: linear-gradient(180deg, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.90)); }

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .featured-insights-main{gap: 80px; padding: 80px 0;}
    .featured-insights-head{flex: 0 0 400px; padding: 40px 0 20px;}
    .featured-insights-image{flex: 1;}
    .featured-insights-text{padding: 80px 40px 21px;}
}













