
.home-banner-section{min-height: 720px;}
.home-banner-wrap{min-height: 720px;}
.home-banner-gradient{background: linear-gradient(180deg,rgba(0,0,0,.1), var(--Foreground));}


/*-- media css starts here --*/
@media only screen and (min-width: 760px) {
  .home-banner-wrap {padding: 210px 0 74px;}
  .home-banner-text{max-width: 636px;}
  .home-banner-text h1{font-size: 128px; letter-spacing: -1.28px; line-height: 122px;}
}
@media only screen and (max-width: 1199px) and (min-width: 1024px){
  .home-banner-text h1{font-size: 98px; line-height: 92px;}
}
@media only screen and (max-width: 759px) and (min-width: 0px){
  .home-banner-section{min-height: 710px;}
  .home-banner-wrap{align-items: flex-end; padding: 80px 0 8px;}
  .home-banner-text h1 { font-size: 76px; letter-spacing: -0.76px; line-height: 96%;}
}

