


.image-carousel-wrap{padding: 59px 0 40px;}
.image-carousel-slider .swiper-button-prev, 
.image-carousel-slider .swiper-button-next{width: 72px; height: 72px; outline: 8px solid rgba(228, 0, 162, 0.20);}
.image-carousel-slide{transition: transform 0.5s ease;}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .image-carousel-slide{width: 956px;}
    .image-carousel-slide:not(.swiper-slide-active){transform: scaleY(0.91);}
    .image-carousel-slider .swiper-button-prev{left: 274px;}
    .image-carousel-slider .swiper-button-next{right: 274px;}
}












