


.image-carousel-slide{transition: transform 0.5s ease;}
.swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide.image-carousel-slide{scroll-snap-stop: initial}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .image-carousel-wrap{padding: 59px 0 40px;}
    .image-carousel-slide{width: 956px;}
    .image-carousel-slide:not(.swiper-slide-active){transform: scaleY(0.91);}
    .image-carousel-slider .swiper-custom-buttons{ width: 100%; left: 0; right: 0; max-width: 956px; top: 50%; transform: translateY(-50%); min-height: 72px; z-index: 1; margin: 0 auto; position: absolute; }
    .image-carousel-slider .swiper-button-next, .image-carousel-slider .swiper-button-prev{width: 72px; height: 72px; outline: 8px solid rgba(228, 0, 162, 0.20);}

    .image-carousel-slider .swiper-button-prev{left: -46px;}
    .image-carousel-slider .swiper-button-next{right: -46px;}
}
@media screen and (max-width: 1199px) and (min-width: 1024px){
    .image-carousel-slider .swiper-button-prev{left: -32px;}
    .image-carousel-slider .swiper-button-next{right: -32px;}
}
@media screen and (max-width: 1023px) and (min-width: 0px){
    .image-carousel-slider .swiper-button{position: relative;}
}
@media screen and (max-width: 1023px) and (min-width: 760px){
    .image-carousel-wrap{padding: 39px 0 60px;}
    .image-carousel-slide{width: 600px;}
    .image-carousel-slide:not(.swiper-slide-active){transform: scaleY(0.86);}
    .image-carousel-slider .swiper-custom-buttons{margin-top: 28px;}
    .image-carousel-slider .swiper-button-prev{left: 80px;}
    .image-carousel-slider .swiper-button-next{right: 80px;}
}
@media screen and (max-width: 759px) and (min-width: 0px){
    .image-carousel-wrap{padding: 21px 0 40px;}
    .image-carousel-slide{width: 316px;}
    .image-carousel-slide:not(.swiper-slide-active){transform: scaleY(0.725);}

    .image-carousel-slider .swiper-custom-buttons{margin-top: 14px;}
    .image-carousel-slider .swiper-button-prev{left: 37px;}
    .image-carousel-slider .swiper-button-next{right: 37px;}
}









