


.insights-carousel-bg{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0.75) 75%);

}

.insights-carousel-text{padding: 32px;}
.insights-carousel-text h2{margin-bottom: 19px;}



.insights-carousel-image{width: 100%; height: 100%;}
ul.categories > li > a{text-decoration: none; padding: 10px 12px 8px; color: var(--Fuschia); background-color: var(--White); font-size: 14px; font-weight: 500; line-height: 100%;text-transform: uppercase; }
ul.categories > li > a:hover{ color: var(--White); background-color: var(--Fuschia); }

.insights-carousel-desc{margin-top: auto;}
/* .insights-carousel-desc a.text-link > span:not(:first-child){top: 1px;} */
.insights-carousel-text .categories{gap: 12px;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .insights-carousel-wrap{padding: 80px 0; gap: 56px 0;}
    .insights-carousel-title{flex: 1;}
    .insights-carousel-main{gap: 40px; flex-wrap: nowrap;}
    .insights-carousel-list:not(.swiper-slide){flex: 0 0 calc(33.333333333333% - 30px);}
    .swiper-initialized .insights-carousel-list{width: 380px; margin-right: 40px;}
}
@media only screen and (min-width: 760px){
    
}
@media only screen and (max-width: 1279px) and (min-width: 1024px){
    .insights-carousel-main{gap: 32px;}
    .insights-carousel-list:not(.swiper-slide){flex: 0 0 calc(25% - 24px);}
}
@media screen and (max-width: 1023px) and (min-width: 760px){
    .insights-carousel-wrap{padding: 48px 0 52px; display: block;}
    .insights-carousel-main{display: block;}

    .insights-carousel-head{margin-bottom: 29px;}
    .insights-carousel-title{flex: 1;}
    .insights-carousel-title h2{font-size: 32px;}
    .insights-carousel-text h2{font-size: 18px; line-height: 22px;}

    .swiper-initialized .insights-carousel-list{width: 308px; margin-right: 26px;}
}
@media screen and (max-width: 759px) and (min-width: 0px){
    .insights-carousel-wrap{padding: 18px 0 22px; display: block;}
    .insights-carousel-main{display: block;}

    .insights-carousel-head{display: block; margin-bottom: 19px;}
    .insights-carousel-title h2{font-size: 32px; line-height: 40px;}
    .insights-carousel-text h2{font-size: 18px; line-height: 22px;}

    .insights-carousel-main::before{ background-color: var(--White); content: ""; display: block; height: 100%; width: 28px; position: absolute; top: 0; left: -28px; z-index: 2; }
    .swiper-initialized .insights-carousel-list{width: 308px; margin-right: 26px;}
    .insights-carousel-btn{margin-top: 24px;}
    .insights-carousel-text{padding: 20px;}
}





