





.locations-text h2{margin-bottom: 25px;}
.locations-address span.h6{margin-bottom: 13px;}
.locations-icon{margin-bottom: 15px; max-width: 64px;}
.locations-icon svg, .locations-icon img{object-fit: contain;}
.locations-text:only-child{flex: 0 0 100%;}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .locations-main{gap: 80px; padding: 80px 0 80px;}
    .locations-text{flex: 0 0 400px;}
    .locations-row{gap: 32px; flex: 1;}
    .locations-list{flex: 0 0 calc(25%  - 24px);}
    body.page-template-contact {padding: 70px 0 80px;}
}
@media screen and (max-width: 1199px) and (min-width: 1024px){
    .locations-row {gap: 24px;}
    .locations-text { flex: 0 0 350px; }
    .locations-list { flex: 0 0 calc(25% - 20px); }
}
@media screen and (max-width: 1023px) and (min-width: 760px){
    .locations-main{padding: 40px 0 40px;}
    .locations-row{gap: 74px 30px; padding: 40px 0 0;}
    .locations-list {flex: 0 0 calc(25% - 23px); }
}
@media screen and (max-width: 759px) and (min-width: 0px){
    .locations-main{padding: 26px 0 26px;}
    .locations-text{margin-bottom: 56px;}
    .locations-row{gap: 32px;}
    .locations-list { flex: 0 0 calc(50% - 20px); }
    .locations-address p{font-size: 12px; line-height: 150%;}
    .locations-address span.h6{margin-bottom: 9px;}
}




