.micro-cta-module {width: 100%; z-index: 1; position: relative; clear: both; overflow: hidden; margin:39px 0 64px;}


.micro-cta-text{background-color: var(--Foreground); padding:42px 40px 40px;}
.micro-cta-text span.optional-text {margin-bottom: 18px;}

.micro-cta-text::after{width: 80px; height: 100%; right: -80px; top: 0; position: absolute; content: ""; display: block; background-color: var(--Foreground);  z-index: -1;}
.micro-cta-thumb:first-child:last-child{flex: 0 0 100%;}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
	.micro-cta-text{flex: 1;}
	/* .micro-cta-desc{max-width: 387px;} */
	body.single-post-custom .micro-cta-module {margin: 64px 0 64px;}
}
@media only screen and (min-width: 1300px){
	/* .micro-cta-text{min-height: 350px; display: flex; flex-direction: column; justify-content: center;} */
	.micro-cta-thumb{flex: 0 0 318px;}
	.micro-cta-thumb picture img{width: 318px; height: 318px;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
	.micro-cta-module .container{padding: 0;}
	.micro-cta-text {padding: 30px;}
	.micro-cta-thumb{flex: 0 0 228px;}
	
}

@media only screen and (max-width:1023px) and (min-width: 760px){
	.micro-cta-text {padding: 30px; flex: 1;}
	.micro-cta-thumb{flex: 0 0 228px;}
	
}

@media only screen and (max-width: 759px) and (min-width: 0px){
	.micro-cta-module {margin: 39px 0 37px;}
	body.page-template-default .micro-cta-module .container{padding: 0;}
	.micro-cta-main{display: block;}
	.micro-cta-thumb {max-width: 286px; margin: 0 auto;}
	.micro-cta-text .optional-text { font-size: 0.75rem;}
	.micro-cta-text {padding: 64px 24px 24px; margin-top: -40px;}
	.micro-cta-text .btn-wrap {margin-top: 15px;}
	.micro-cta-text h2{font-size: 20px; line-height: 25px;}

	

	

}