




.midstream-text span.optional-text{margin-bottom: 15px;}
.midstream-text h2{margin-bottom: 38px;}
.midstream-main.no_image{display: block;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .midstream-bg{height: calc(100%);}
    .midstream-main{gap: 80px; flex-wrap: nowrap;}
    .midstream-text{flex: 0 0 560px; padding: 94.5px 0;}
    .midstream-images{ flex: 1; min-width: 880px; min-height: 577px; left: 640px; top: 50%; max-width: 880px; margin-left: auto; transform: translateY(-50%); }
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .midstream-text{flex: 0 0 460px;}
    .midstream-text h2{font-size: 46px;}
    .midstream-images{left: 492px;}
}
@media only screen and (max-width: 1023px) and (min-width: 0px){
    .midstream-main{flex-direction: column-reverse;}
    .midstream-text, .midstream-images{flex: 0 0 100%; width: 100%;}
    .midstream-images{margin: -16px auto 0; position: relative;}
}
@media only screen and (max-width: 1023px) and (min-width: 760px){
    .midstream-main{padding: 0 0 68px;}
    .midstream-text{padding-top: 68px;}
}
@media only screen and (max-width: 759px) and (min-width: 0px){
    .midstream-main{padding: 0 0 28px;}
    .midstream-text{padding: 28px 28px 0;}
    .midstream-text h2{font-size: 32px; margin-bottom: 23px;}
    .midstream-images{width: calc(100% + 32px); left: -16px; }
}







