




.midstream-text span.optional-text{margin-bottom: 15px;}
.midstream-text h2{margin-bottom: 38px;}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .midstream-bg{height: calc(100%);}
    .midstream-main{gap: 80px; flex-wrap: nowrap; flex-direction: row-reverse;}
    .midstream-text{flex: 0 0 560px; padding: 94.5px 0;}
    .midstream-images{flex: 1; margin-right: -242px; min-width: 880px; min-height: 577px; }
    .midstream-thumb{top: 0; left: 0; width: 100%; height: 100%;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .midstream-text{flex: 0 0 460px;}
    .midstream-text h2{font-size: 46px;}
}
@media only screen and (max-width: 1023px) and (min-width: 760px){
    .midstream-main{display: block; padding: 0 0 68px;}
    .midstream-text{padding-top: 68px;}
    .midstream-images{margin-left: -100px;}
}
@media only screen and (max-width: 759px) and (min-width: 0px){
    .midstream-main{display: block; padding: 0 0 28px;}
    .midstream-text{padding-top: 28px;}
    .midstream-text h2{font-size: 32px; margin-bottom: 23px;}
}







