
.page-not-main { max-width: 475px; margin: auto; min-height: 400px; text-align: center; }
.page-not-text { padding: 80px 0 80px; }
.page-not-text span.optional-text { text-transform:uppercase; } 
.page-not-text h1 { margin-bottom:31px }
.page-not-text p { margin-bottom:24px }