.perspective-default{padding: 80px 0;}
.perspective-default-main .h3{font-size: 48px;}
.perspective-default-main > p > span{ font-size: 24px; line-height: 150%; }
.perspective-default-main ol > li:before{color: var(--Fuschia); font-weight: 700;}

.loyalty-program-wrap{padding: 64px 0 0; margin: 64px 0 64px;}
.loyalty-program-wrap .counter-main-wrap { padding: 40px 0 64px; }
.loyalty-program-main span.optional-text{font-size: 14px; color: var(--Fuschia); font-family: var(--heading-font); text-transform: uppercase; font-weight: 500; letter-spacing: 1.4px; margin-bottom: 24px;}
.loyalty-program-main .h3{font-size: 40px;}
.loyalty-program-main .h3 span{color: var(--Fuschia);}

.share-icon-main{padding: 16px; margin: 64px  0 0;}
.share-icon {font-size: 48px; font-weight: 300; color: var(--Fuschia)}
.share-wrap .h4{margin-bottom: 0;}
.share-wrap{gap: 20px; flex: 1}



/*-- media css starts here --*/
@media only screen and (min-width: 1024px){

}


@media only screen and (max-width: 759px) and (min-width: 0px){
.perspective-default{padding: 32px 0;}
.perspective-default-main .h3 { font-size: 32px; line-height: 125%; }
.perspective-default-main > p > span{ font-size: 20px;}
.perspective-default-main{font-size: 16px; line-height: 150%; }

.perspective-default-main .video-main { padding: 32px 0 55px; }

.perspective-default-main ul > li{font-size: 16px;}
.perspective-default-main ol > li{font-size: 16px;}
.loyalty-program-wrap {margin: 56px 0 56px; padding: 40px 0 0;}
.loyalty-program-main span.optional-text {font-size: 12px;}

.perspective-default-main .micro-cta-module {margin: 55px 0 55px;}

.loyalty-program-wrap .counter-main-wrap { padding: 0px 0; }


.share-icon-main{justify-content: space-between; align-items: center; margin-top: 54px;}
.share-icon { color: var(--Foreground); font-size: 32px; }
.share-wrap .h4{display: none;}
.share-wrap { flex: 0 0 32px; text-align: center;}

}
@media screen and (max-width: 374px) and (min-width: 0px){

.share-icon-main{padding: 16px 10px;}
}
