
.related-perspectives-head{padding: 0 0 48px;}
.related-perspectives-srch input{
    border-radius: 60px;
border: 1.25px solid var(--Fuschia);
background: var(--Elevated);
color: var(--Foreground);
font-family: var(--heading-font);
padding: 15px 20px;
}
.related-perspectives-srch button{background: none;
    color: var(--Fuschia);
    padding: 0;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    animation: none;
}
.related-perspectives-srch button:hover{
    color: var(--Foreground);
}

.related-perspectives-bg{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0.75) 75%);

}


.related-perspectives-text p{margin-bottom: 22px;}



.related-perspectives-image{width: 100%; height: 100%;}


.related-perspectives-desc{margin-top: auto;}



/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .related-perspectives-main{padding: 80px 0;}
    .related-perspectives-row{gap: 40px;}
    .related-perspectives-list{flex: 0 0 calc(33.333333333333% - 30px);}
}
@media only screen and (min-width: 760px){
    .related-perspectives-head{gap: 32px;}
    .related-perspectives-title{flex: 1;}
    .related-perspectives-text{padding: 32px;}
    .related-perspectives-text h2{margin-bottom: 10px;}
}
@media only screen and (max-width: 1279px) and (min-width: 1024px){
   
}
@media screen and (max-width: 1023px) and (min-width: 760px){
    .related-perspectives-main{padding: 48px 0;}
    .related-perspectives-row{gap: 28px; justify-content: center;}
    .related-perspectives-list{flex: 0 0 calc(50% - 14px);}
}
@media screen and (max-width: 759px) and (min-width: 0px){
    .related-perspectives-main{padding: 27px 0 28px;}
    .related-perspectives-row{display: block;}
    .related-perspectives-head{display: block; padding-bottom: 29px;}
    .related-perspectives-title h2{font-size: 32px; line-height: 40px;}
    .related-perspectives-srch input{padding: 12px 16px; font-size: 14px; line-height: 19px;}
   
    .related-perspectives-list:not(:last-child){margin-bottom: 24px;}
    .related-perspectives-thumb img{min-height: 450px;}
    .related-perspectives-text{padding: 20px;}
    .related-perspectives-text h2{margin-bottom: 8px;}
    .related-perspectives-desc{font-size: 14px; line-height: 21px;}
    .blog_load_more{margin-top: 28px;}
    .related-perspectives-right{margin-top: 24px;}
}





