



.reports-col{padding: 24px;}

.mins-read{gap: 6px; color: var(--Foreground-50);}
.mins-read i{top: 1px; position: relative;}
.month-read{gap: 6px; color: var(--Foreground-50);}
.month-read i, .month-read svg, .month-read img{top: 1px; position: relative; max-width: 12px;}


.reports-text h2 a{color: var(--Foreground);}
.reports-text h2 a:hover{color: var(--Fuschia);}
.reports-text span.optional-text{margin-bottom: 5px;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .reports-main{padding: 84px 0 73px;}
    .reports-head{padding-bottom: 50px; gap: 16px;}
    .reports-title{flex: 1;}
    .reports-row{gap: 40px;}
    .reports-col{flex: 0 0 calc(25% - 30px); flex-grow: 1;}

    body.page-template-default .reports-main{padding: 84px 0 80px;}
}
@media only screen and (min-width: 760px){
    .reports-image{margin-bottom: 19px;}

}
@media screen and (max-width: 1199px) and (min-width: 1024px){
    .reports-row{gap: 32px;}
    .reports-col{flex: 0 0 calc(25% - 24px);}
}
@media screen and (max-width: 1023px) and (min-width: 760px){
    .reports-main{padding: 48px 0 68px;}
    .reports-head{padding-bottom: 40px;}
    .reports-title{flex: 1;}
    .reports-title h2{font-size: 38px;}
    .reports-row{gap: 28px;}
    .reports-col{flex: 0 0 calc(50% - 14px);}
}
@media screen and (max-width: 759px) and (min-width: 0px){
    .reports-main{padding: 29px 0 32px; display: block;}
    .reports-head{padding-bottom: 32px; display: block;}
    .reports-title h2{font-size: 32px; line-height: 40px;}
    .reports-row{display: block;}
    .reports-col{margin-bottom: 25px; padding: 18px; gap: 20px; display: flex; flex-wrap: wrap; width: 100%;}
    .reports-text h2{margin-bottom: 4px; font-size: 16px; line-height: 20px;}
    .reports-image{flex: 0 0 112px;}
    .reports-text{flex: 1; font-size: 14px; line-height: 21px;}
    .reports-text span.optional-text{margin-bottom: 4px;}
    .reports-text p{margin-bottom: 12px;}
    .reports-text .button{width: 100%; text-align: center;}
}   
