


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .short-intro-main{padding: 80px 0 40px;}
    .short-intro-main h2{font-size: 40px; margin-bottom: 0;}

    body.page-template-services-line .short-intro-main{padding: 80px 0 80px;}

    body.page-template-careers .short-intro-main{padding: 120px 0 40px;}
}
@media only screen and (max-width: 1023px) and (min-width: 760px) {
    .short-intro-main{padding: 80px 0 40px;}
    .short-intro-main h2{font-size: 40px; margin-bottom: 0;}
}
@media only screen and (max-width: 759px) and (min-width: 200px) {
    .short-intro-main{padding: 28px 0 28px;}
    .short-intro-main h2{font-size: 24px; line-height: 30px;}
    .short-intro-main h2:last-child{margin-bottom: 0;}

    body.page-template-careers .short-intro-main{padding-top: 40px;}
}