:root {
    --Black: #000000;
    --White: #ffffff;
	--White-15: rgb(255 255 255 / 15%);
    --White-20: rgb(255 255 255 / 20%);
    --White-50: rgb(255 255 255 / 50%);
    --White-75: rgb(255 255 255 / 75%);
    --White-80: rgb(255 255 255 / 80%);

    --Foreground: #000;
    --text-color: #000000;
    --body-text: #302E30;
    --body-color: #ffffff;
	--heading: #000000; 
    --optionaltxt: #F900A6;
    --anchor: ;
    --anchor-hover: #F900A6;
    --dark-grey: #302E30;
    --fuschia: #F900A6;
}