:root {
    --Black: #000000;
    --White: #ffffff;
	--White-15: rgb(255 255 255 / 15%);
    --White-20: rgb(255 255 255 / 20%);
    --White-25: rgb(255 255 255 / 25%);
    --White-50: rgb(255 255 255 / 50%);
    --White-75: rgb(255 255 255 / 75%);
    --White-80: rgb(255 255 255 / 80%);
    --White-90: rgb(255 255 255 / 90%);



    --Base-Foreground: #000000;

    --Text-Color-1: #24282A;

    --Dark-Gray: #302E30;
    --Light-Gray: #EBEBEB;

    --Foreground: #000;
    --Foreground-25: rgba(0, 0, 0, 0.25);
    --Foreground-30: rgba(0, 0, 0, 0.30);
    --Foreground-50: rgba(0, 0, 0, 0.50);
    --Foreground-75: rgba(0, 0, 0, 0.75);
    --text-color: #000000;
    --body-text: #302E30;
    --body-color: #ffffff;
	--heading: #000000; 
    --anchor: ;
    --anchor-hover: #F900A6;
    --Fuschia: #F900A6;
    --Elevated: #f0f0f4;

    --Orange: #FF7A00;


    --Red: #f00;
    
}