
body .cky-modal.cky-modal-open button.cky-show-desc-btn:not(:hover):not(:active){color: #008000;}
body .cky-box-bottom-left{right: 40px; left: auto;}
body .cky-notice .cky-title{font-family: "arboria", sans-serif;}
body .cky-revisit-bottom-left{right: 15px; left: auto;}
body .cky-revisit-bottom-left:hover::before{background: var(--Navy); right: calc(100% + 7px); left: auto;}
body .cky-revisit-bottom-left:hover::after{right: calc(100% + 2px); border-right-color: var(--Navy); left: auto;}
body .cky-btn.cky-btn-customize, body .cky-btn.cky-btn-preferences, body .cky-btn.cky-btn-reject, body .cky-notice-btn-wrapper button.cky-btn.cky-btn-accept, body .cky-prefrence-btn-wrapper button.cky-btn.cky-btn-accept{
  padding: 10px 20px 10px !important;
  background: transparent;
  border: 1px solid var(--Light-Gray) !important;
  border-radius: 52px;
  color: var(--Text-Color) !important;
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  transition: all .5s ease;
  text-transform: capitalize;
  letter-spacing: -0.32px;
  justify-content: center;
}
body .cky-modal.cky-modal-open button.cky-btn.cky-btn-reject:hover, body .cky-modal.cky-modal-open button.cky-btn.cky-btn-preferences:hover,
body .cky-btn.cky-btn-customize:hover, body .cky-btn.cky-btn-preferences:hover, body .cky-btn.cky-btn-reject:hover{
  background: linear-gradient(0deg, var(--Yellow) 0%, #F3D370 100%), #6B530B;
  color: var(--Text-Color) !important;
  opacity: 1;
  border-color: transparent !important;
}

/* body .cky-modal.cky-modal-open button.cky-btn.cky-btn-reject:hover, body .cky-modal.cky-modal-open button.cky-btn.cky-btn-preferences:hover{background-color: var(--Muted-Ochre) !important; color: var(--White) !important; opacity: 1;} */

body .cky-notice-btn-wrapper button.cky-btn.cky-btn-accept, body .cky-prefrence-btn-wrapper button.cky-btn.cky-btn-accept{
  color: var(--Text-Color) !important;
  background: linear-gradient(0deg, var(--Yellow) 0%, #F3D370 100%), #6B530B !important;
  border-color: transparent !important;
}
body .cky-notice-btn-wrapper button.cky-btn.cky-btn-accept:hover, body .cky-prefrence-btn-wrapper button.cky-btn.cky-btn-accept:hover{
  color: var(--Text-Color) !important;
  background: transparent !important;
  opacity: 1;
  border-color: var(--Light-Gray) !important;
}
body .cky-accordion-header .cky-always-active{color: var(--Teal); font-weight: 600; transition: var(--b-transition);}
body .cky-accordion-header .cky-always-active:hover{color: var(--Muted-Ochre);}
body .cky-modal.cky-modal-open button.cky-show-desc-btn:not(:hover):not(:active){color: var(--Muted-Ochre);}
body .cky-preference-header .cky-btn-close{ padding: 6px; border: 2px solid transparent; border-radius: 4px; }
body .cky-preference-header .cky-btn-close:hover{border-color: var(--Orange);}
body .cky-btn-revisit-wrapper{background: linear-gradient(to top,var(--Muted-Ochre) -50%,var(--Muted-Ochre) 100%) !important;}
body .cky-btn-revisit{z-index: 1;}
body .cky-btn-revisit::before, body .cky-btn-revisit::after{ background-color: var(--Muted-Ochre); animation: 4s riffle infinite linear; transform: scale(1); filter: opacity(0.5); -webkit-filter: opacity(0.5); transition-duration: .75s; transition-property: all; transition-timing-function: cubic-bezier(.075,.82,.165,1); border-radius: 50%; bottom: 0; content: ""; left: 0; position: absolute; right: 0; top: 0; display: block; z-index: -1;}
body .cky-btn-revisit::before{ -webkit-animation-delay: 2s; animation-delay: 2s;}
body .cky-btn-revisit::after{ -webkit-animation-delay: 4s; animation-delay: 4s;}
@keyframes riffle{ 0% { transform: scale(1); opacity: 1; } 100% { transform: scale(4); opacity: 0; } }
body .cky-preference-header .cky-preference-title{font-weight: 500;}
body .cky-accordion-header .cky-accordion-btn{font-weight: 500; letter-spacing: 0;}
body .cky-preference-content-wrapper .cky-show-desc-btn{letter-spacing: 0; font-weight: 500; color: var(--Foreground);}

body .cky-preference-header button.cky-btn-close {padding: 0; border: none; background: none !important;}
body .cky-preference-header button.cky-btn-close img{width: 20px; height: 20px;}
body .cky-preference-header button.cky-btn-close:hover{opacity: 0.5;}



/*-- media css starts here --*/
@media screen and (max-width: 767px) and (min-width: 200px){
    body .cky-modal, body .cky-modal.cky-modal-open{top: auto; transform: none; left: 0; bottom: 0;}
    body .cky-box-bottom-left{right: 24px; left: auto; width: calc(100% - 48px);}
    body .cky-preference-center{max-height: calc(100vh - 100px);}
}