

.footer-top{padding-bottom: 60px;}

ul.social-icons{margin: 0; gap: 16px;}
ul.social-icons li{display: inline-block; margin: 0;}
ul.social-icons li::before{display: none;}
ul.social-icons li a{width: 48px; height: 48px; background-color: var( --Fuschia); color: var(--Foreground); display: flex; align-items: center; justify-content: center;}
ul.social-icons li a:hover{background-color: var(--White);}
ul.social-icons li a span{transition: all 0.5s ease-in-out;}
ul.social-icons li a:hover span{transform: rotate(360deg);}


ul.footer-links > li{ color: var(--Fuschia); font-size: 14px; font-weight: 500; line-height: 14px; letter-spacing: 1.4px; }
ul.footer-links > li > ul{padding-top: 14px; gap: 16px 0;}
ul.footer-links > li > ul > li{margin: 0;}
ul.footer-links > li > ul > li > a{ color: var(--White); font-size: 14px; font-weight: 400; line-height: 100%; letter-spacing: 0; }

.copyrights-main{margin-top: 67px; padding: 64px 0 0;}
.footer-line{width: 100%; height: 1px; top: 0; left: 0;}
ul.copyright-links{margin: 0; gap: 0 44px; flex: 1; justify-content: flex-end;}
ul.copyright-links li::before{width: 4px; height: 4px; left: -24px; top: 9px; background-color: var(--Bluish-Gray);}
ul.copyright-links li:first-child:before{display: none;}
ul.copyright-links li a{color: var(--White-50);}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    
    .footer-text{flex: 0 0 600px;}
    ul.social-icons{flex: 0 0 112px; margin-left: auto;}
    ul.social-icons li{flex: 0 0 calc(50% - 8px);}

    ul.footer-links{gap: 43px;}
    ul.footer-links > li{flex: 0 0 auto;}
    .copyrights{flex: 1;}

}
@media only screen and (min-width: 760px){
    .footer{padding: 81px 0;}
}
@media only screen and (max-width: 1023px) and (min-width: 760px){

    ul.copyright-links{justify-content: center;}
}
@media only screen and (max-width: 759px) and (min-width: 0px){
    .footer{display: block; padding: 19px 0 19px; text-align: center;}

    ul.copyright-links{gap: 0 38px; justify-content: center; margin-bottom: 23px;}
    ul.copyright-links li::before { left: -20px;}
}







