

.footer-top{padding-bottom: 60px;}

ul.social-icons{margin: 0; gap: 16px;}
ul.social-icons li{display: inline-block; margin: 0;}
ul.social-icons li::before{display: none;}
ul.social-icons li a{width: 48px; height: 48px; color: var(--Foreground); display: flex; align-items: center; justify-content: center;}
ul.social-icons li a:hover{color: var(--Foreground);}
ul.social-icons li a > span.social-icon-circle{ background-color: var(--Fuschia);}
ul.social-icons li a:hover > span:not(.social-icon-circle){transform: scale(1.05);}
ul.social-icons li a:hover > .social-icon-circle{animation: socialOutline 1.5s ease forwards;  transform: scale(1.15);}
@keyframes socialOutline{ 0%{outline: 4px solid transparent;} 40%, 42%{outline: 4px solid RGB(125, 0, 83);} 50%, 100%{outline: 4px solid transparent;} }


ul.footer-links > li{ color: var(--Fuschia); font-size: 14px; font-weight: 500; line-height: 14px; letter-spacing: 1.4px; }
ul.footer-links > li > ul{padding-top: 14px; gap: 16px 0;}
ul.footer-links > li > ul > li{margin: 0;}
ul.footer-links > li > ul > li > a{display: inline-block; color: var(--White); font-size: 14px; font-weight: 400; line-height: 100%; letter-spacing: 0;position: relative;}
ul.footer-links > li > ul > li > a::after{width: 0%; height: 1px; bottom: -1px; left: 0; transition: width 0.5s ease-out; content: ""; display: block; background-color: var(--Fuschia);}
ul.footer-links > li > ul > li > a:hover::after{width: 100%;}
ul.footer-links > li > ul > li > a:hover{color: var(--White); animation: shuffleX 0.5s ease-out forwards;}
ul.footer-links > li > ul > li.current_page_item > a{color: var(--Fuschia);}


.copyrights-main{margin-top: 67px; padding: 64px 0 0;}
.footer-line{width: 100%; height: 1px; top: 0; left: 0;}
ul.copyright-links{margin: 0; flex: 1; justify-content: flex-end;}
ul.copyright-links > li::before{width: 1px; height: 100%; left: 0; top: 0; background-color: var(--White-25); position: relative;}
ul.copyright-links > li:first-child:before{display: none;}
ul.copyright-links > li{margin: 0; padding-right: 22px; gap: 22px; flex-wrap: wrap; display: flex;}
ul.copyright-links > li:last-child{padding-right: 0;}
ul.copyright-links > li > a{color: var(--White-50);}
ul.copyright-links > li.current_page_item > a{color: var(--Fuschia);}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){

    .footer-text{max-width: 600px;}
    ul.footer-links{gap: 43px;}
    ul.footer-links > li{flex: 0 0 auto;}
    .copyrights{flex: 1;}

}
@media only screen and (min-width: 760px){
    .footer{padding: 81px 0 70px;}
    .footer-top{gap: 40px;}
    
    .footer-text{flex: 1;}
    ul.social-icons{flex: 0 0 112px; margin-left: auto;}
    ul.social-icons li{flex: 0 0 calc(50% - 8px);}
}
@media only screen and (max-width: 1023px) and (min-width: 760px){
    ul.footer-links{gap: 40px;}
    ul.footer-links > li{flex: 0 0 calc(33.33333333333% - 27px);}
    .copyrights{flex: 0 0 260px;}
    .copyrights p span{display: block;}
}
@media only screen and (max-width: 759px) and (min-width: 0px){
    .footer{display: block; padding: 29px 0 27px;}
    .footer-top{display: block;}
    .footer-text{padding-bottom: 55px; font-size: 24px; line-height: 30px;}

    ul.footer-links{display: block;}
    ul.footer-links > li{margin-bottom: 40px;}
    ul.footer-links > li:last-child{margin-bottom: 0;}

    .copyrights-main{display: block; margin-top: 41px; padding-top: 39px;}
    .copyrights{line-height: 15px;}
    .copyrights p span{display: block;}
    ul.copyright-links{justify-content: flex-start; margin-top: 20px;}
    ul.copyright-links > li{padding-right: 16px; gap: 16px;}
}







