

header.site-header{width: 100%; height: auto; top: 0; left: 0; position: fixed; z-index: 800;  transition: top 0.5s ease-in-out, background-color 0.5s ease-in-out; border-bottom: 1px solid transparent;}
body:not(.home) header.site-header{background-color: var(--White);  border-bottom-color: var(--Elevated); }


.site-header.sticky{background-color: var(--Foreground);}

.header_right{flex: 1;}
.logo a{display: inline-block; width: 100%;}
.logo a img{object-fit: contain;}


form.nav-search-form input{padding: 15px 60px 20px 20px; border: 1px solid rgba(24, 24, 24, 0.25); background: var(--Elevated); border-radius: 0; color: var(--Foreground); font-size: 20px; font-weight: 500; line-height: 125%; }
form.nav-search-form input

form.nav-search-form input:-webkit-input-placeholder { color: var(--Foreground-50); }
form.nav-search-form input::-moz-placeholder { color: var(--Foreground-50); }
form.nav-search-form input:-moz-placeholder { color: var(--Foreground-50); }
form.nav-search-form button{top: 8px; right: 8px; background: none;}
a.no_link{pointer-events: none;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .site-main-cover{padding-top: 72px;}
    body.home .site-main-cover{padding-top: 0;}

    body.home .header{padding-left: 45px;}
    .header{position: relative;}
    .logo{top: 0; position: relative; flex: 0 0 80px;}
 
    .header_right{gap: 0 24px;}
    .navigation{width: fit-content; margin-left: auto;}

    ul.main_menu{gap: 16px 29px; justify-content: flex-end;}
    ul.main_menu > li{margin: 0;}
    ul.main_menu > li > a{padding: 26px 0 27px; font-family: var(--heading-font); position: relative; display: inline-block; font-size: 15px; line-height: 18px; letter-spacing: 0; font-weight: 500; color: var(--Dark-Gray); text-transform: capitalize;}
    ul.main_menu > li.button > a{
      padding: 11px 16px;
      font-weight: 700;
      border-radius: 20px;

      background-color: var(--Fuschia); color: var(--White);}
    ul.main_menu > li.current-post-ancestor > a, ul.main_menu > li.current-menu-item > a, ul.main_menu > li.current-menu-parent > a, ul.main_menu > li:hover > a, ul.main_menu > li > a:hover{color: var(--Yellow);}
    
    ul.main_menu > li.button{padding: 0; top: 0px; background: none;}
    .nav-btn .button{padding: 13px 13px 14px; font-size: 13px; font-weight: 600; letter-spacing: 1.56px; line-height: 13px;}

    ul.main_menu > li > ul{padding: 15px 40px; transition: all 0.5s ease; top: calc(100% + 0);  min-width: 300px; margin: 0; left: 50%; transform: translateX(-50%); z-index: 800; visibility: hidden; opacity: 0; pointer-events: none; position: absolute;  background-color: var(--Elevated);}
    ul.main_menu > li:hover > ul{visibility: visible; opacity: 1; pointer-events: inherit;}
    ul.main_menu > li > ul > li{margin: 0;}
    ul.main_menu > li > ul > li::before{display: none;}
    ul.main_menu > li > ul > li > a:not(.text-link){ display: block; font-size: 17px; font-weight: 600; letter-spacing: 0; line-height: 22px; padding: 18px 22px 17px 0; position: relative; color: var(--Foreground-75); }
    ul.main_menu > li > ul > li:last-child > a{border-bottom-color: transparent;}
    ul.main_menu > li > ul > li.current-menu-item > a, ul.main_menu > li > ul > li > a:not(.text-link):hover{color: var(--Green);}


    ul.main_menu > li.menu-item-has-children > a::after{width: 12px; height: 13px; bottom: 10px; left: 50%; opacity: 0; transform: translateX(-50%); background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='13' viewBox='0 0 12 13' fill='none'%3E%3Cpath d='M6.0064 13L12 5.24537e-07L0 0L6.0064 13Z' fill='%23FEDC31'/%3E%3C/svg%3E"); background-repeat: no-repeat; content: ""; display: block; position: absolute; transition: var(--b-transition);}
    ul.main_menu > li.menu-item-has-children:hover > a::after, ul.main_menu > li.menu-item-has-children > a:hover::after{opacity: 1; bottom: 0;}

    /*-- menu item company --*/
    ul > li.menu-item-company > ul::before{width: 1000vw; left: -100vw; height: 100%; top: 0; background-color: var(--White); content: ""; display: block; position: absolute; z-index: -1;}
    ul > li.menu-item-company > ul{left: calc(50% + 171px); padding: 64px 120px; display: flex; flex-wrap: wrap; background-color: var(--White);}
    /* ul > li.menu-item-company > ul > li > ul{ display: flex; flex-wrap: wrap; margin: 0;}
    ul > li.menu-item-company > ul > li > ul > li{margin: 0; flex: 0 0 calc(50%); padding: 0 80px; font-size: 16px; line-height: 24px; letter-spacing: 0;}
    ul > li.menu-item-company > ul > li > ul > li p{margin-bottom: 18px;}
    ul > li.menu-item-company > ul > li > ul > li:nth-child(odd){padding-left: 0;}
    ul > li.menu-item-company > ul > li > ul > li:nth-child(odd)::before{display: none;}
    ul > li.menu-item-company > ul > li > ul > li:nth-child(even){padding-right: 0;}
    ul > li.menu-item-company > ul > li > ul > li::before{width: 1px; height: 100%; top: 0; left: 0; display: block; background-color: var(--Yellow); border-radius: 0;}
    ul > li.menu-item-company > ul > li > ul > li > a:not(.text-link){margin-bottom: 25px; padding: 0; color: var(--Foreground); font-size: 20px; font-weight: 600; line-height: 125%; letter-spacing: 1.6px; text-transform: uppercase;}
    ul > li.menu-item-company > ul > li > ul > li > a:not(.text-link):hover{color: var(--Yellow);} */
    
    ul > li.menu-item-has-children .sub-menu li.rt-custom-menu-field-item{display: block;}
    .sub-menu .rt-wp-menu-custom-fields-custom-html a,
    ul > li.menu-item-services > ul > li > ul > li p a{padding: 0; color: var(--Foreground);}
    .sub-menu .rt-wp-menu-custom-fields-custom-html a:hover,
    ul > li.menu-item-services > ul > li > ul > li p a:hover{color: var(--Foreground);}
    .sub-menu .rt-wp-menu-custom-fields-custom-html > *{padding: 0;}

    ul > li.menu-item-company > ul{ display: flex; flex-wrap: wrap; margin: 0;}
    ul > li.menu-item-company > ul > li{margin: 0; flex: 0 0 calc(50%); padding: 0 80px; font-size: 16px; line-height: 24px; letter-spacing: 0;}
    ul > li.menu-item-company > ul > li p{margin-bottom: 18px;}
    ul > li.menu-item-company > ul > li:nth-child(odd){padding-left: 0;}
    ul > li.menu-item-company > ul > li:nth-child(odd)::before{display: none;}
    ul > li.menu-item-company > ul > li:nth-child(even){padding-right: 0;}
    ul > li.menu-item-company > ul > li::before{width: 1px; height: 100%; top: 0; left: 0; display: block; background-color: var(--Yellow); border-radius: 0;}
    ul > li.menu-item-company > ul > li > a:not(.text-link){margin-bottom: 15px; padding: 0; color: var(--Foreground); font-size: 20px; font-weight: 600; line-height: 125%; letter-spacing: 1.6px; text-transform: uppercase;}
    ul > li.menu-item-company > ul > li > a:not(.text-link):hover{color: var(--Yellow);}

    /*-- menu item services --*/
    ul > li.menu-item-services > ul::before{width: 1000vw; left: -100vw; height: 100%; top: 0; background-color: var(--White); content: ""; display: block; position: absolute; z-index: -1;}
    ul > li.menu-item-services > ul{min-width: 1440px; left: calc(50% + 79px); padding: 64px 120px; display: flex; flex-wrap: wrap; background-color: var(--White);}
    ul > li.menu-item-services > ul > li > ul{ display: flex; flex-wrap: wrap; margin: 0;}
    ul > li.menu-item-services > ul > li> ul > li{margin: 0; flex: 0 0 calc(50%); padding: 0 80px; font-size: 16px; line-height: 24px; letter-spacing: 0;}
    ul > li.menu-item-services > ul > li> ul > li p{margin-bottom: 18px;}
    ul > li.menu-item-services > ul > li> ul > li:nth-child(odd){padding-left: 0;}
    ul > li.menu-item-services > ul > li> ul > li:nth-child(odd)::before{display: none;}
    ul > li.menu-item-services > ul > li> ul > li:nth-child(even){padding-right: 0;}
    ul > li.menu-item-services > ul > li> ul > li::before{width: 1px; height: 100%; top: 0; left: 0; display: block; background-color: var(--Yellow); border-radius: 0;}
    ul > li.menu-item-services > ul > li > ul > li > a:not(.text-link){margin-bottom: 15px; padding: 0; display: block; color: var(--Foreground); font-size: 20px; font-weight: 600; line-height: 125%; letter-spacing: 1.6px; text-transform: uppercase;}
    ul > li.menu-item-services > ul > li > ul > li > a:not(.text-link):hover{color: var(--Yellow);}

    /*-- menu item projects --*/
    ul.main_menu > li.menu-item-projects > ul::before{width: 1000vw; left: -100vw; height: 100%; top: 0; background-color: var(--White); content: ""; display: block; position: absolute; z-index: -1;}
    ul.main_menu > li.menu-item-projects > ul{padding: 64px; gap: 30px 24px; display: flex; flex-wrap: wrap; background-color: var(--White);}
    ul.main_menu > li.menu-item-projects > ul > li{margin: 0; flex: 0 0 100%; font-size: 16px; line-height: 24px; letter-spacing: 0;}
    ul.main_menu > li.menu-item-projects > ul > li:not(:has(form)){flex: 0 0 calc(16.666666% - 20px); width: calc(16.666666% - 20px);}
    ul.main_menu > li.menu-item-projects > ul > li p{margin-bottom: 18px;}
    ul.main_menu > li.menu-item-projects > ul > li > a:not(.text-link){padding: 0; color: var(--Foreground); font-size: 20px; font-weight: 600; line-height: 125%; letter-spacing: 1.6px; text-transform: uppercase;}
    form.big-search-form input{padding: 15px 20px 20px 60px; border: 1px solid rgba(24, 24, 24, 0.25); background: var(--Elevated); border-radius: 0; color: var(--Foreground); font-size: 20px; font-weight: 500; line-height: 125%; }
    form.big-search-form button{top: 8px; left: 8px; background: none;}
    .menu-item-projects-btn{bottom: 8px; left: 8px; width: calc(100% - 16px); position: absolute;}
    .menu-item-projects-btn .button{justify-content: space-between; background-color: var(--White); border: none;}
    .menu-item-projects-btn .button span{flex: 1; text-align: left;}
    .menu-item-projects-btn .button:hover{color: var(--Yellow); background-color: var(--Foreground);}

    /*-- insights menu --*/
    ul.main_menu > li.insights-menu-item > ul::before{width: 1000vw; left: -100vw; height: 100%; top: 0; background-color: var(--White); content: ""; display: block; position: absolute; z-index: -1;}
    ul.main_menu > li.insights-menu-item > ul{padding: 64px; gap: 0; display: flex; flex-wrap: wrap; background-color: var(--White);}
    ul.main_menu > li.insights-menu-item > ul > li:first-child{flex: 1; padding-right: 80px; display: flex; flex-wrap: wrap;}
    ul.main_menu > li.insights-menu-item > ul > li:first-child > a{display: none;}
    ul.main_menu > li.insights-menu-item > ul > li:last-child{flex: 0 0 283px; border-left: 1px solid var(--Yellow); padding-left: 80px; flex-direction: column; display: flex;}
    ul.main_menu > li.insights-menu-item > ul > li > ul{margin: 0; gap: 32px; display: flex; flex-wrap: wrap;}
    ul.main_menu > li.insights-menu-item > ul > li > ul > li::before{display: none;}
    ul.main_menu > li.insights-menu-item > ul > li > ul > li{margin: 0;}
    ul.main_menu > li.insights-menu-item > ul > li:not(:last-child) > ul > li{flex: 0 0 calc(33.3333% - 22px);}

    
  
    ul.main_menu > li.insights-menu-item > ul > li:not(:first-child) > a:not(.button){padding: 0; font-size: 13px; line-height: 13px; letter-spacing: 1.56px; color: var(--Foreground-50); text-transform: uppercase;}
    ul.main_menu > li.insights-menu-item > ul > li:not(:first-child) > ul{margin: 0; padding: 21px 0 28px; gap: 24px 0;}
    ul.main_menu > li.insights-menu-item > ul > li:not(:first-child) > ul:last-child{margin-top: auto;}
    ul.main_menu > li.insights-menu-item > ul > li:not(:first-child) > ul > li{margin: 0; width: 100%;}
    ul.main_menu > li.insights-menu-item > ul > li:not(:first-child) > ul > li::before{display: none;}
    ul.main_menu > li.insights-menu-item > ul > li:not(:first-child) > ul > li > a:not(.button){font-size: 18px; line-height: 18px; font-weight: 600; color: var(--Foreground-80); gap: 7px; display: flex; flex-wrap: wrap; align-items: center;}
    ul.main_menu > li.insights-menu-item > ul > li:not(:first-child) > ul > li > a:not(.button)::after{width: 20px; height: 20px; top: 2px; position: relative; display: block; content: ""; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath opacity='0.3' d='M1.42773 1.25L10.1777 10L1.42773 18.75' stroke='%23FEDC31' stroke-width='2'/%3E%3Cpath opacity='0.6' d='M1.42773 1.25L10.1777 10L1.42773 18.75' stroke='%23FEDC31' stroke-width='2'/%3E%3Cpath d='M1.42773 1.25L10.1777 10L1.42773 18.75' stroke='%23FEDC31' stroke-width='2'/%3E%3C/svg%3E");}
    ul.main_menu > li.insights-menu-item > ul > li:not(:first-child) > ul > li > a:not(.button):hover{color: var(--Yellow);}
    ul.main_menu > li.insights-menu-item > ul > li:not(:first-child) > ul:last-child{padding: 0;}
    ul.main_menu > li.insights-menu-item > ul > li:not(:first-child) > ul > li > a.button{padding: 15px 16px 18px; width: 100%; font-size: 16px; line-height: 16px; letter-spacing: 1.28px; justify-content: space-between;}
    ul.main_menu > li.insights-menu-item > ul > li:not(:first-child) > ul > li > a.button i{color: var(--White);}

    .humburger-btn{display: none;}


    ul.main_menu > li > ul > li.hide-nav-overview > a{display: none;}

    li.no_link > a{pointer-events: none;}
    li.no_cursor > a{cursor: auto;}

}

@media only screen and (min-width: 1440px){
  ul > li.menu-item-company > ul{min-width: 1440px !important;}
  body.home ul.main_menu > li.menu-item-projects > ul{left: calc(50% - 20px);}
  body.home ul.main_menu > li.insights-menu-item.only-insights > ul{left: -80px;}

  ul.main_menu > li.menu-item-projects > ul{min-width: 1440px; left: calc(50% - 120px);}
  ul.main_menu > li.insights-menu-item > ul{ left: -180px; min-width: 1440px; padding: 64px 80px; }
}

@media only screen and (max-width: 1799px) and (min-width: 1260px){

}
@media only screen and (max-width: 1439px) and (min-width: 1024px){
    .site-header .container{max-width: 100%;}

    .navigation{position: static;}

    ul.main_menu{gap: 16px 32px;}
    ul.main_menu > li{position: static;}
    ul.main_menu > li > ul{left: calc(50% - 26px); transform: translateX(-50%); min-width: 100vw !important;}

    ul.main_menu > li.insights-menu-item > ul > li:first-child{padding-right: 40px;}
    ul.main_menu > li.insights-menu-item > ul > li:last-child{padding-left: 40px;}
}
@media only screen and (max-width: 1439px) and (min-width: 1024px){
  .menu-item-projects-btn .button{font-size: 13px;}
}
@media only screen and (max-width: 1259px) and (min-width: 1024px){
    .header_right{gap: 16px;}
    ul.main_menu{gap: 16px;}

    ul.main_menu > li.menu-item-projects > ul{gap: 30px 15px;}
    ul.main_menu > li.menu-item-projects > ul > li:not(:has(form)) { flex: 0 0 calc(16.66667% - 13px); width: calc(16.66667% - 13px); }
    .menu-item-projects-btn .button{font-size: 10px; padding: 10px 8px; letter-spacing: 1.5px;}
    .menu-item-projects-btn .button.btn-transparent svg{width: 16px;}
}
@media only screen and (max-width: 1159px) and (min-width: 1024px){


}
@media only screen and (max-width: 1023px) and (min-width: 0px){
  .site-main-cover{padding-top: 72px;}
  body.home .site-main-cover{padding-top: 0;}


    .header{padding: 12px 0; gap: 16px; flex-direction: row-reverse;}
    .logo{flex: 0 0 80px; margin: 0 auto; z-index: 1;}
    .humburger-btn{gap: 5px; width: 48px; height: 48px; left: 20px; cursor: pointer; position: absolute; z-index: 1;}
   
    .humburger-btn span{position: absolute;}
    .humburger-btn span:first-child { top: 16px; } 
    .humburger-btn span:nth-child(2) { top: 22px; } 
    .humburger-btn span:nth-child(3) { top: 28px; }
    .humburger-btn.open span{background-color: var(--Umber);}
    .humburger-btn.open span:first-child { top: 19px; transform:rotate(45deg) } 
    .humburger-btn.open span:nth-child(2) { transform:scale(0) } 
    .humburger-btn.open span:nth-child(3) { top: 19px; transform:rotate(-45deg) }
    .humburger-line{width: 18px; height: 2px; display: block; background-color: var(--White);}

    .header_right{top: 70px; transform: translateX(100%); left: 0; width: 100vw; height: 125vh; position: absolute; transition: transform 0.5s ease; display: block; flex-direction: column; background-color: var(--White); overflow-y: auto;}
    .header_right.open{transform: translateX(0);}

    .comment-icon{width: 48px; height: 48px; right: 20px; color: var(--White);}
    
    
    nav.navigation{display: block;}
    ul.top-nav{display: none;}

    ul.main_menu{display: block;}
    ul.main_menu > li{margin: 0;}
    ul.main_menu > li.sib{display: none;}

   
    ul.main_menu > li > a{padding: 18px 24px; border-bottom: 1px solid var(--Elevated); font-size: 16px; line-height: 16px; font-weight: 600; letter-spacing: 1.62px; color: var(--Foreground); display: flex; align-items: center; flex-wrap: wrap; width: 100%; text-transform: uppercase; position: relative;}
    ul.main_menu > li > a:hover{color: var(--Yellow);}
    ul.main_menu > li > a::after{top: 50%; transform: translateY(-50%); right: 24px; content: "\f061"; color: var(--Yellow); font-size: 20px; line-height: 20px; position: absolute; display: block; font-family: "Font Awesome 6 Sharp"; font-weight: 900;}
    ul.main_menu > li.menu-item-has-children > a.hide-link{display: none;}

    ul.main_menu > li.menu-item-has-children > a::after{content: "\2b";}
    ul.main_menu > li.menu-item-has-children > a.open::after{color: var(--Umber); content: "\f077"; right: 20px;}
    ul.main_menu > li > ul{display: none; margin: 0; padding: 25px 24px 24px; background-color: var(--Elevated);}
    ul.main_menu > li > ul > li::before{display: none;}

    ul.main_menu > li > ul > li > ul{margin: 0;}
    ul.main_menu > li > ul > li > ul > li::before{display: none;}
    ul.main_menu > li > ul > li > ul > li:not(:last-child){margin-bottom: 27px;}
    ul.main_menu > li > ul > li > ul > li > a:not(.text-link){ position: relative; color: var(--Foreground-75); font-size: 18px; font-weight: 400; line-height: 18px; display: block;}
    ul.main_menu > li > ul > li > ul > li > a:not(.text-link):hover{color: var(--Yellow);}

    ul.main_menu > li > ul > li.menu-item-has-children.open > a{padding-left: 17px; gap: 0px; width: 100%; color: var(--White-40); font-size: 16px; font-weight: 500; line-height: 22px; }
    ul.main_menu > li > ul > li.menu-item-has-children.open > a::after{left: 0; right: auto; top: calc(50% - 2px); transform: translateY(-50%) rotate(180deg);}

    ul.main_menu > li.menu-item-projects > ul > li:last-child{margin-bottom: 0;}

    ul.main_menu > li > ul > li:not(:last-child){margin-bottom: 27px;}
    ul.main_menu > li > ul > li{margin-bottom: 0;}


    ul.main_menu > li > ul > li > a > figure,
    ul.main_menu > li > ul > li > ul > li > a > figure,
    ul.main_menu > li > ul > li > ul > li > p,
    ul.main_menu > li > ul > li > ul > li > a.text-link{display: none;}

    ul.main_menu > li > ul > li > a > figure,
    ul.main_menu > li > ul > li > p,
    ul.main_menu > li > ul > li > a.text-link{display: none;}

    .sub-menu .rt-wp-menu-custom-fields-custom-html > *{display: none;}

    ul.main_menu > li > ul > li > a:not(.text-link), a.rt-custom-menu-field-item-link{color: var(--Foreground-75); display: block; font-size: 18px; font-weight: 400; line-height: 18px; position: relative;}
    ul.main_menu > li > ul > li > a:not(.text-link):hover, a.rt-custom-menu-field-item-link:hover{color: var(--Yellow);}


    ul.main_menu > li > ul > li > a .button{padding: 0; background: none; text-align: left; text-transform: capitalize; letter-spacing: 0; color: var(--Foreground-75); display: block; font-size: 18px; font-weight: 400; line-height: 18px; position: relative; border: none; flex-direction: row-reverse; justify-content: flex-end;}
    ul.main_menu > li > ul > li > a .button:active{background: none; color: var(--Yellow);}
    ul.main_menu > li > ul > li > a .button svg{display: none;}


    /*-- insights menu --*/
    ul.main_menu > li.insights-menu-item > ul{margin: 0;}
    ul.main_menu > li.insights-menu-item > ul > li:first-child{flex: 1; display: none;}
    ul.main_menu > li.insights-menu-item > ul > li:first-child > a{display: none;}
    ul.main_menu > li.insights-menu-item > ul > li > ul{margin: 0; gap: 32px; display: flex; flex-wrap: wrap;}
    ul.main_menu > li.insights-menu-item > ul > li > ul > li::before{display: none;}
    ul.main_menu > li.insights-menu-item > ul > li > ul > li{margin: 0;}
    ul.main_menu > li.insights-menu-item > ul > li:not(:last-child) > ul > li{flex: 0 0 calc(33.3333% - 22px);}



    ul.main_menu > li.insights-menu-item > ul > li:not(:first-child) > a:not(.button){padding: 0; font-size: 13px; line-height: 13px; letter-spacing: 1.56px; color: var(--Foreground-50); text-transform: uppercase;}
    ul.main_menu > li.insights-menu-item > ul > li:not(:first-child) > ul{margin: 0; padding: 21px 0 0px; gap: 24px 0;}
    ul.main_menu > li.insights-menu-item > ul > li:not(:first-child) > ul > li{margin: 0; width: 100%;}
    ul.main_menu > li.insights-menu-item > ul > li:not(:first-child) > ul > li::before{display: none;}
    ul.main_menu > li.insights-menu-item > ul > li:not(:first-child) > ul > li > a:not(.button){font-size: 18px; line-height: 18px; font-weight: 600; color: var(--Foreground-80); gap: 7px; display: flex; flex-wrap: wrap; align-items: center;}
    ul.main_menu > li.insights-menu-item > ul > li:not(:first-child) > ul > li > a:not(.button)::after{width: 20px; height: 20px; top: 2px; position: relative; display: block; content: ""; background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath opacity='0.3' d='M1.42773 1.25L10.1777 10L1.42773 18.75' stroke='%23FEDC31' stroke-width='2'/%3E%3Cpath opacity='0.6' d='M1.42773 1.25L10.1777 10L1.42773 18.75' stroke='%23FEDC31' stroke-width='2'/%3E%3Cpath d='M1.42773 1.25L10.1777 10L1.42773 18.75' stroke='%23FEDC31' stroke-width='2'/%3E%3C/svg%3E");}
    ul.main_menu > li.insights-menu-item > ul > li:not(:first-child) > ul:last-child{padding: 0; display: none;}
    ul.main_menu > li.insights-menu-item > ul > li:not(:first-child) > ul > li > a.button{padding: 15px 16px 18px; width: 100%; font-size: 16px; line-height: 16px; letter-spacing: 1.28px; justify-content: space-between;}
    ul.main_menu > li.insights-menu-item > ul > li:not(:first-child) > ul > li > a.button i{color: var(--White);}
    ul.main_menu > li.insights-menu-item > ul > li:not(:first-child) > ul > li > a.button:hover i{color: var(--Foreground);}
   




    form.big-search-form input{padding: 15px 20px 20px 60px; border: 1px solid rgba(24, 24, 24, 0.25); background: var(--Elevated); border-radius: 0; color: var(--Foreground); font-size: 20px; font-weight: 500; line-height: 125%; }
    form.big-search-form button{top: 5px; left: 8px; background: none;}

    form.nav-search-form{margin: 23px 24px 23px;}









}

@media only screen and (max-width: 1023px) and (min-width: 760px){
  .header{padding: 19px 0 20px; gap: 12px; flex-wrap: nowrap;} 
  .nav-btn .button{padding: 13px;}
  .nav-btn{padding: 0 24px;}
}
@media screen and (max-width: 759px) and (min-width: 0px){
  .site-header .container{padding: 0 12px;}
  .header{flex-wrap: nowrap; padding: 20px 0;}
  .nav-btn{padding: 0 24px;}

  .nav-btn .button{padding: 14px 13px 15px; width: 100%; text-align: center; color: var(--Foreground); font-size: 18px; font-weight: 600; line-height: 100%; letter-spacing: 2.16px; text-transform: uppercase; } 
  .nav-btn .button:hover{background: var(--Foreground); color: var(--Yellow);}
}
@media screen and (max-width: 389px) and (min-width: 0px){
}
