

header.site-header{width: 100%; height: auto; top: 0; left: 0; position: fixed; z-index: 800;  transition: top 0.5s ease-in-out, border 0.5s ease-in-out, background-color 0.5s ease-in-out; border-bottom: 1px solid transparent; background-color: transparent;}
body:not(.home) header.site-header{background-color: var(--White); border-bottom-color: var(--Elevated); }
header.sticky-header{background-color: var(--White); border-bottom-color: var(--Elevated);}

.header_right{flex: 1;}
.logo a{display: inline-block; width: 100%;}
.logo a img{object-fit: contain;}

a.no_link{pointer-events: none;}
body.home header.site-header:not(.sticky-header) img.black-logo{opacity: 0;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .site-main-cover{padding-top: 72px;}
    body.home .site-main-cover{padding-top: 0;}

    .header{position: relative;}
    .logo{top: 0; position: relative; flex: 0 0 80px;}
    body.home header.site-header:not(.sticky-header) .logo{flex: 0 0 120px;}
 
    .header_right{gap: 0 24px;}
    .navigation{width: fit-content; margin-left: auto;}

    ul.main_menu{gap: 16px 29px; justify-content: flex-end;}
    ul.main_menu > li{margin: 0;}
    ul.main_menu > li:not(.button) > a{padding: 26px 0 27px; font-family: var(--heading-font); position: relative; display: inline-block; font-size: 15px; line-height: 18px; letter-spacing: 0; font-weight: 500; color: var(--Dark-Gray); text-transform: capitalize;}

    
    ul.main_menu > li:not(.button) > a::after{width: 0%; height: 1px; bottom: 0; left: 0; transition: width 0.5s ease-out; content: ""; display: block; background-color: var(--Fuschia);}
    ul.main_menu > li.menu-item-has-children:not(.button) > a::after{ height: 8px; bottom: -4px; border-radius: 8px; position: absolute; z-index: 804;}
    ul.main_menu > li:not(.button):hover > a::after,
    ul.main_menu > li:not(.button) > a:hover::after{width: 100%;}
    
    body.home header.site-header:not(.sticky-header) ul.main_menu > li:not(.button) > a{color: var(--White-80); padding: 46px 0 47px;}

    ul.main_menu > li.button > a{ padding: 9px 14px 8px; font-weight: 700; border-radius: 20px; background-color: var(--Fuschia); color: var(--White);}
    ul.main_menu > li.button > a:hover{background-color: var(--Foreground);}
    body.home header.site-header:not(.sticky-header) ul.main_menu > li.button > a:hover{background-color: var(--White); color: var(--Fuschia);}
    ul.main_menu > li.current-post-ancestor:not(.button) > a, ul.main_menu > li.current-menu-item:not(.button) > a, ul.main_menu > li.current-menu-parent:not(.button) > a{color: var(--Fuschia);}
    ul.main_menu > li:not(.button):hover > a, ul.main_menu > li:not(.button) > a:hover{color: var(--Foreground);}
    
    ul.main_menu > li.button{padding: 0; top: 0px; background: none;}
    ul.main_menu > li:nth-last-child(2) > ul{left: auto; right: -27px;} 
    ul.main_menu > li > ul{padding: 30px 24px 28px; transition: all 0.5s ease; top: calc(100% + 0);  min-width: 300px; margin: 0; left: -27px; z-index: 800; visibility: hidden; opacity: 0; pointer-events: none; position: absolute;  background-color: var(--Elevated); border-radius: 0 0 16px 16px; border: 1px solid rgba(0, 0, 0, 0.10);; border-top: none; box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.20);}
    ul.main_menu > li:hover > ul{visibility: visible; opacity: 1; pointer-events: inherit;}
    ul.main_menu > li > ul > li{margin: 0;}
    ul.main_menu > li > ul > li:not(:last-child){margin-bottom: 25px;}
    ul.main_menu > li > ul > li::before{display: none;}
    ul.main_menu > li > ul > li > a:not(.text-link){ display: block; font-size: 16px; font-weight: 600; letter-spacing: 0; line-height: 22px; position: relative; color: var(--Foreground-75); font-family: var(--heading-font);}
    ul.main_menu > li > ul > li.current-menu-item > a, ul.main_menu > li > ul > li > a:not(.text-link):hover{color: var(--Fuschia);}




    .humburger-btn{display: none;}


    ul.main_menu > li > ul > li.hide-nav-overview > a{display: none;}

    li.no_link > a{pointer-events: none;}
    li.no_cursor > a{cursor: auto;}

}

@media only screen and (max-width: 1439px) and (min-width: 1024px){
    ul.main_menu{gap: 16px 32px;}

}

@media only screen and (max-width: 1259px) and (min-width: 1024px){
    .header_right{gap: 16px;}
    ul.main_menu{gap: 16px;}


}

@media only screen and (max-width: 1023px) and (min-width: 0px){
    .site-main-cover{padding-top: 72px;}
    body.home .site-main-cover{padding-top: 0;}

    header.site-header.navOpen{background-color: var(--White); border-bottom-color: var(--Elevated); transition: none;}
    body.home header.site-header:not(.sticky-header).navOpen img{opacity: 0;}
    body.home header.site-header:not(.sticky-header).navOpen img.black-logo{opacity: 1;}

    .header{padding: 12px 0; gap: 16px; flex-direction: row-reverse;}
    .logo{flex: 0 0 80px; margin: 0 auto; z-index: 1;}
    .humburger-btn{gap: 5px; width: 48px; height: 48px; left: 20px; cursor: pointer; position: absolute; z-index: 1;}
    .humburger-btn.open{background-color: var(--Elevated);}
    .humburger-btn span{position: absolute;}
    .humburger-btn span:first-child { top: 16px; } 
    .humburger-btn span:nth-child(2) { top: 22px; } 
    .humburger-btn span:nth-child(3) { top: 28px; }
    .humburger-btn.open span{background-color: var(--Foreground);}
    .humburger-btn.open span:first-child { top: 23px; transform:rotate(45deg) } 
    .humburger-btn.open span:nth-child(2) { transform:scale(0) } 
    .humburger-btn.open span:nth-child(3) { top: 23px; transform:rotate(-45deg) }
    .humburger-line{width: 18px; height: 2px; display: block; background-color: var(--White);}

    .header_right{top: 73px; transform: translateX(100%); left: 0; width: 100vw; height: 100vh; position: absolute; transition: transform 0.5s ease; display: block; flex-direction: column; background-color: var(--White); overflow-y: auto;}
    .header_right.open{transform: translateX(0);}

    .comment-icon{width: 48px; height: 48px; right: 20px; color: var(--White); cursor: pointer;}
    
    
    nav.navigation{display: block; padding-bottom: 120px;}

    ul.main_menu{display: block;}
    ul.main_menu > li{margin: 0;}
    ul.main_menu > li.sib{display: none;}

   
    ul.main_menu > li:not(.button) > a{padding: 19px 24px; border-bottom: 1px solid var(--Elevated); font-size: 16px; line-height: 16px; font-weight: 600; letter-spacing: 0; color: var(--Foreground); display: flex; align-items: center; flex-wrap: wrap; width: 100%; text-transform: capitalize; position: relative;}
    ul.main_menu > li:not(.button) > a:hover{color: var(--Fuschia);}
    ul.main_menu > li:not(.button) > a::after{top: 50%; transform: translateY(-50%); right: 24px; content: "\f061"; color: var(--Fuschia); font-size: 18px; line-height: 18px; position: absolute; display: block; font-family: "Font Awesome 7 Pro"; font-weight: 900;}
    ul.main_menu > li:not(.button).menu-item-has-children > a::after{content: "\f078";}

    ul.main_menu > li.menu-item-has-children:not(.button) > a::before{width: 0; height: 8px; bottom: -4px; left: 24px; border-radius: 8px; position: absolute; transition: width 0.3s ease-out; content: ""; display: block; background-color: var(--Fuschia); z-index: 804;}
    ul.main_menu > li.menu-item-has-children:not(.button) > a.open::before{width: 64px;}
    
    ul.main_menu > li.button{width: calc(100% - 48px); margin: 24px; padding: 0; border-radius: 28px;}
    ul.main_menu > li.button > a{width: 100%; padding: 14px 16px 15px; font-size: 24px; line-height: 24px; display: block; color: var(--White); text-align: center;}


    ul.main_menu > li.menu-item-has-children > a.hide-link{display: none;}

    ul.main_menu > li.menu-item-has-children > a::after{content: "\2b";}
    ul.main_menu > li.menu-item-has-children > a.open::after{content: "\f077";}
    ul.main_menu > li > ul{display: none; margin: 0; padding: 26px 24px 28px; background-color: var(--Elevated);}
    ul.main_menu > li > ul > li::before{display: none;}
    ul.main_menu > li > ul > li{margin-bottom: 0;}
    ul.main_menu > li > ul > li:not(:last-child){margin-bottom: 21px;}
    ul.main_menu > li > ul > li > a{color: var(--Foreground); font-size: 16px; line-height: 16px; font-weight: 600;}

    ul.main_menu > li > ul > li > ul{margin: 0;}
    ul.main_menu > li > ul > li > ul > li::before{display: none;}
    ul.main_menu > li > ul > li > ul > li:not(:last-child){margin-bottom: 27px;}
    ul.main_menu > li > ul > li > ul > li > a:not(.text-link){ position: relative; color: var(--Foreground-75); font-size: 18px; font-weight: 400; line-height: 18px; display: block;}
    ul.main_menu > li > ul > li > ul > li > a:not(.text-link):hover{color: var(--Fuschia);}

    ul.main_menu > li > ul > li.menu-item-has-children.open > a{padding-left: 17px; gap: 0px; width: 100%; color: var(--White-40); font-size: 16px; font-weight: 500; line-height: 22px; }
    ul.main_menu > li > ul > li.menu-item-has-children.open > a::after{left: 0; right: auto; top: calc(50% - 2px); transform: translateY(-50%) rotate(180deg);}



}
@media only screen and (max-width: 1023px) and (min-width: 760px){
  .header{padding: 19px 0 20px; gap: 12px; flex-wrap: nowrap;} 
}
@media screen and (max-width: 759px) and (min-width: 0px){
  .site-header .container{padding: 0 12px;}
  .header{flex-wrap: nowrap; padding: 20px 0;}
}
