





/* body .share-icons-main{min-height: 300px;} */
body .share-icons{margin: 0; }
body .share-icons div.st-animated{ display: flex !important; flex-wrap: nowrap; z-index: 1; flex: 1;}
body .share-icons div.st-animated .st-btn{padding: 0 !important; margin: 0 !important; width: 100%; height: 56px !important; flex: 0 0 60px !important; min-width: 56px !important; min-height: 56px !important; position: relative; z-index: 1; display: flex !important; align-items: center; justify-content: center; transition: var(--b-transition); border-radius: 0 !important; color: var(--Fuschia); border: none !important; background: transparent !important; transition: var(--b-transition) !important; font-size: 30px !important; line-height: 30px !important; border-left:  1px solid rgba(249, 0, 166, 0.25)!important;}
body .share-icons div.st-animated .st-btn:hover{background: transparent !important; color: var(--Foreground) !important; top: 0 !important; opacity: 1 !important;}
body .share-icons div.st-animated span.st-label{display: none !important;}
body .share-icons div.st-animated .st-btn::after{content: ""; display: block; font-family: 'Font Awesome 7 Brands';}

body .share-icons div.st-animated .st-btn[data-network="facebook"]::after{content: "\f39e";} 
body .share-icons div.st-animated .st-btn[data-network="twitter"]::after {content: "\e61b"} 
body .share-icons div.st-animated .st-btn[data-network="linkedin"]::after{content: "\f0e1" }
body .share-icons div.st-animated .st-btn[data-network="email"]::after{content: "\f0c1";font-family: "Font Awesome 7 Sharp"; font-weight: 400;}


body .share-icons div.st-animated img{display: none !important;}
body .share-icons #st-1.st-has-labels .st-btn.st-remove-label{min-width: 56px;}

.share-inline-arrow{flex: 0 0 80px; opacity: 0.25;}


body.single-post .share-inline-arrow{padding: 35px 0 0 ;}



/*-- media css starts here --*/
@media screen and (min-width: 1200px){

body .share-icons div.st-animated{flex-direction: column;}
}
@media screen and (min-width: 1024px){
   
    body .share-icons #st-1{ flex-direction: row; display: flex; justify-content: flex-end;}
    body.page-template-default body .share-icons{margin: 55px 0 0;}


}
@media screen and (max-width: 1299px) and (min-width: 1024px){
    body .share-icons div.st-animated{justify-content: flex-start;}
}
@media screen and (max-width: 1023px) and (min-width: 760px){
    #st-1.st-justified, #st-2.st-justified{justify-content: center;}
    
}
@media screen and (max-width: 759px) and (min-width: 0px){
    body .share-icons{padding: 0;}
    body .share-icons div.st-animated .st-btn{width: 60px !important; min-width: 60px !important; flex: 0 0 60px !important; height: 32px !important; min-height: 32px !important; }
    #st-1.st-justified, #st-2.st-justified{justify-content: center;}
}
@media screen and (max-width: 374px) and (min-width: 0px){
    body .share-icons div.st-animated .st-btn{width: 48px !important; min-width: 48px !important; flex: 0 0 48px !important; font-size: 20px !important; line-height: 20px !important;}

}