
.swiper-button-next, .swiper-button-prev{width: 80px; height: 80px; margin: 0; background-color: var(--Fuschia); color: var(--White); transition: var(--b-transition);}
.swiper-button-next::after, .swiper-button-prev::after{display: none;}
.swiper-button-next:hover, .swiper-button-prev:hover{background-color: var(--White); color: var(--Fuschia);}
svg.swiper-navigation-icon{display: none;}
.swiper-horizontal .swiper-pagination{padding: 12px; margin: 0 auto; bottom: 40px; left: 0; right: 0; width: fit-content; background: rgba(24, 24, 24, 0.75);}
.swiper-horizontal span.swiper-pagination-bullet{width: 12px; height: 12px; margin: 0; background-color: var(--White); border-radius: 0; opacity: 1;}
.swiper-horizontal span.swiper-pagination-bullet.swiper-pagination-bullet-active{width: 16px; height: 16px; background-color: var(--Yellow);}

@media only screen and (min-width: 1024px){
    .swiper-button-next{right: 40px;}
    .swiper-button-prev{left: 40px;}
}
@media only screen and (max-width: 1023px) and (min-width: 760px){
    .swiper-button-next, .swiper-button-prev{width: 64px; height: 64px;}
    .swiper-button-next{right: 24px;}
    .swiper-button-prev{left: 24px;}
}
@media only screen and (max-width: 759px) and (min-width: 0px){
    .swiper-button-next{right: 0;}
    .swiper-button-prev{left: 0;}
    .swiper-button-next, .swiper-button-prev{width: 24px; height: calc(100% - 32px); top: 16px;}
    .swiper-horizontal .swiper-pagination{padding: 6px; bottom: 10px;}
    .swiper-horizontal .testi-desk-pagination .swiper-pagination{padding: 0; gap: 6px;}
    .swiper-horizontal span.swiper-pagination-bullet{width: 6px; height: 6px; background-color: var(--Elevated);}
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{margin: 0 2px;}
    .swiper-horizontal span.swiper-pagination-bullet.swiper-pagination-bullet-active{width: 8px; height: 8px;}
}








